:root {
    /*this styling will be applied globally*/
    --light-blue: #E4FBFF;
    --light-purple: #B8B5FF ;
    --dark-purple: #7868E6;
    --pale-purple: #EDEEF7;
}


body{
    background-color:var(--light-purple);
}

h1{
    color: var(--dark-purple)
}

h2{
    color: var(--dark-purple);
}

h4{
    color: var(--light-purple);
}

.home-info{
    height:300px;
    width:600px;
    position: absolute;
    left: 700px;
    top: 200px;
    border-radius: 25px;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px var(--dark-purple);
    text-align: center;
}

.entire-container{
    background-color: white;
    padding-bottom: 30px;
}

.middle-container{
    
    margin-top: 800px;
    background-color:white;
    text-align: left;
    width: 50%;
    margin: auto;
    margin-top: 800px;
    line-height: 2;
}

.bottom-container{
    text-align: left;
    padding-left: 20px;
    margin: 0,0;
    background-color:var(--light-purple);
  }

  .about-us{
    text-align: center;
  }

  .bandaid-img{
    float: left;
    margin-right: 30px;
  }

  .lightbulb-img{
    float: right;
    margin-left: 30px;
  }

